.shop  .container{
    margin-top: 80px;
  }
  
  .shop .row .col{
    margin-bottom: 30px;
  }
  .shop  .row .shop-content {
    position: relative;
      text-align: center;
      padding: 20px 15px 30px;
      max-width: 300px;
      margin-left: auto;
      margin-right: auto;
    z-index: 1;
    padding-bottom: 40px;
    transition: all .2s ease;
  
  }
 
  
  .shop  .row .shop-content::before {
      position: absolute;
      content: '';
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: #f5f5f5;
      border-radius: 6px;
      pointer-events: none;
    z-index: -1;
  }
  .shop  .row:hover{
  z-index:2;
  }
  .shop  .row .col .shop-content:hover::before{
    display: none;
  }
  .shop  .row .col:hover .shop-content{
    transform: translate3d(0, -18px, 0);
  }


  .shop  .row .shop-figure {
    overflow: hidden;
    min-height: 200px;
    margin-top: 15px;
  }
  

  .shop .row  .shop-caption h5 a{
    color: #121212;
    font-weight: 500;
    letter-spacing: 0;
  text-transform: uppercase;
  width: 102%;
    transition: all 0.3s ease-in-out;
  }
  .shop .row  .shop-caption h5 a:hover{
    text-decoration: none;
    color: #c14679;
  }
  .shop .row .price, .shop .row .count{
    display: inline-block;
      vertical-align: middle;
      font-size: 20px;
      line-height: 1;
      font-weight: 700;
      letter-spacing: 0;
      color: #c14679;
  }
  .shop .row  .col .shopping-cart{
      justify-content: center;
    border-radius: 6px;
    transition: all .2s ease;
    z-index: -1;
    transition: all .15s ease;
  }
  .shop .row  .fas{
   position: relative;
    font-size: 20px;
    background-color: #c14679;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color: white;
    top: 0;
    z-index: 1;
  }

  .shop .fa-shopping-cart::before{
    position: absolute;
    top: 30%;
    left: 25%;
  }
  .shop .shopping-cart:hover{
    cursor: pointer;
  }
  .shop .product-button{
    width: 40px;
    margin-top: 5px;
    padding: 0px;
    font-size: 24px;
    border-radius: 50%;
    background-color: #c14679;
    border: none;
    color: white;
    font-weight: 700;
    height: 40px;
    outline: none;
  }

  .shop .row .count{
    margin: 0 10px;
    margin-top: -10px;
  }
  
  .shop .hidden{
display: none;
  }