.form {
  max-width: 22rem;
  margin: auto;
  margin-top: 4rem;
  background-color: white;
  padding: 1.2rem;
  border-radius: 4px;
  position: relative;

  button[type='submit'] {
    font-weight: bold;
    font-size: 1.1rem;
    margin-top: 1rem;
    background-color: var(--mainColor);
    display: block;
    width: 100%;
    outline: none;
    border: none;
  }
}

.logoContainer {
  text-align: center;

  padding-top: 2rem;
  margin-bottom: 2rem;

  img {
    width: 104px;
    height: 110px;
  }
}

.hidden {
  display: none;
}

.header {
  color: var(--mainColor);
  font-size: 1.5rem;
}

.desc {
  color: #666666;
  font-size: 0.75rem;
}
